@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-regular400-webfont.woff') format('woff'),
    url('../fonts/roboto-regular400-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/roboto-black900-webfont.woff') format('woff'),
    url('../fonts/roboto-black900-webfont.woff2') format('woff2');
}
