/* цвет основного текста #212121 */

/* цвет вторичного текста #757575 */

/* белый цвет текста #ffffff */

/* цвет ссылки в адресе rgba(255, 255, 255, 0.6) */

/* акцент #2196F3 */

/* вторичный цвет фона #F5F4FA */

/* цвет фона герой и футер #2F303A */

/* Raleway 700 normal, Roboto 500 normal, Roboto 900 normal, Roboto 700 normal, Roboto 400 normal */

:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --second-backgr-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: #fff;
}

.list {
  list-style: none;
}

.page-header {
}

/* logo */

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo:hover,
.logo:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: #000000;
}

/* site auth navigation */

.site-nav {
}

.auth-nav {
}

.link {
  text-decoration: none;
}
.auth-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link {
  color: #212121;
}

.auth-nav .link:hover,
.auth-nav .link:focus,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* hero section */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  color: #fff;
}

/* section */

.section {
}

.section-title {
  color: var(--title-text-color);
}

/* features */

.feature-list .title {
  color: var(--title-text-color);
}

/* our team */

.our-team-list .title {
  color: var(--title-text-color);
}

/* Button */

.hero .button {
  color: #fff;
  background-color: var(--accent-color);
}

.hero .button:hover {
  color: var(--accent-color);
  background-color: #fff;
}

.button {
  color: var(--title-text-color);
  background-color: var(--second-backgr-color);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: #fff;
  background-color: var(--accent-color);
}
